/* Header.css */
.pink-bar-header {
    width: 100%;
    background-color: #FAA2F3;
    height: 50px;
    position: fixed;
}

.pink-bar-footer {
    width: 100%;
    background-color: #FAA2F3;
    height: 50px;
    text-align: center;
    font-family: inherit;
    font-size: 25px;
    color: black;
    position: fixed;
    bottom: 0; /* Ajusta la distancia desde la parte inferior según sea necesario */
}


