.titulo{
    color: #F90;
    text-align: center;
    font-family: Inter;
    font-size: 43px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.fondo{
    background-color: #1E1E1E;
}

